{% extends "base.html" %}
{% block title %}{{ _('a11y_title') }}{% endblock %}

{% block content %}
<div class="full-width-bg tea-leaf">
  <div class="container mt-4">
    <h1>{{ _('a11y_title') }}</h1>

    <p>{{ _('a11y_intro') }}</p>

    <h2>{{ _('a11y_conformance_h') }}</h2>
    <p>{{ _('a11y_conformance_text') }}</p>

    <h2>{{ _('a11y_measures_h') }}</h2>
    <ul>
      <li>{{ _('a11y_measure_colors') }}</li>
      <li>{{ _('a11y_measure_typography') }}</li>
      <li>{{ _('a11y_measure_structure') }}</li>
      <li>{{ _('a11y_measure_keyboard') }}</li>
      <li>{{ _('a11y_measure_media') }}</li>
    </ul>

    <h2>{{ _('a11y_status_h') }}</h2>
    <p>{{ _('a11y_status_text') }}</p>

    <h2>{{ _('a11y_known_issues_h') }}</h2>
    <ul>
      <li>{{ _('a11y_issue_iframes') }}</li>
      <li>{{ _('a11y_issue_docs') }}</li>
      <li>{{ _('a11y_issue_aria') }}</li>
    </ul>

    <h2>{{ _('a11y_feedback_h') }}</h2>
    <p>{{ _('a11y_feedback_text') }}</p>
    <p>
      {{ _('a11y_contact') }}:
      <a href="mailto:info@hochschule-trier.de">info@hochschule-trier.de</a>,
      {{ _('a11y_phone') }}: +49 (0)6782 17-0
    </p>

    <h2>{{ _('a11y_enforcement_h') }}</h2>
    <p>{{ _('a11y_enforcement_text') }}</p>

    <p class="mt-4"><small>{{ _('a11y_last_update') }}: 2025-08-24</small></p>

    <hr class="my-4" />

    <p>
      <a href="https://www.hochschule-trier.de/impressum" target="_blank" rel="noopener noreferrer">{{ _('off1') }}</a><br>
      <a href="https://www.hochschule-trier.de/datenschutz" target="_blank" rel="noopener noreferrer">{{ _('dte1') }}</a>
    </p>
  </div>
</div>
{% endblock %}
