{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="full-width-bg white">
    <h1 align="center">{{ _('arbeitspaket_1') }}</h1>
</br>
      <p>{{ _('fragebogen') }} <a href="https://forms.office.com/e/wen6muwJBv">{{ _('forms') }}</a></p>
</br>
</div>

  <div class="full-width-bg tea-leaf">
    <h1 align="center">{{ _('arbeitspaket_2') }}</h1>
  </br>  
    
    <iframe width="100%" height="450px" src="https://forms.microsoft.com/r/gfQK95VuJ2?embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
  </div> 

<div class="full-width-bg light-gray">
  </br> 



    <h1 align="center" class="dark-gray-text">{{ _('arbeitspaket_3') }}</h1>
</br>
      <p>{{ _('probieren') }}<a href="{{url_for('views.lca')}}">{{ _('demonstrator') }}</a></p>
</br>


<div class="container-fluid mt-4">
  <h2>{{ _('demo_h2') }}</h2>
  <div class="row justify-content-between">
      {% for demo in demonstrator %} 
      <div class="col-md-6 mb-4 d-flex align-items-stretch">
      {% if demo.link %}
      <a href="{{demo.link}}" class="text-decoration-none text-dark w-100">
        {% endif %}
          <div class="card text-left green-border-card" style="width: 100%; min-width: 180px; height: 260px;">
              <img src="{{ url_for('static', filename=demo.image) }}" class="card-img-top mx-auto d-block" alt="{{ demo.name }}" style="height: 100px; max-width: 95%; object-fit:contain; margin-top: 20px;">
              <div class="card-body">
                  <h5 class="card-title">{{ demo.name }}</h5>
                  <p>{{ demo.description }}</p>
                </div>
              </div>
              {% if demo.link %}
            </a>
            {% endif %}
            </div>
          {% endfor %}
        </div> <!-- closes row -->
      </div> <!-- closes container -->
    
    <div class="w-100"></div> <!-- ensures new line starts -->
    </div> 

    <div class="full-width-bg white">
    </br> 

    <h1 align="center">{{ _('arbeitspaket_4') }}</h1>
  </br> 
    <p>{{_('webinar')}} <a href="https://www.openlca.org/features/">Teams Calendar</a></p>
    <p>{{_('eventbrite')}}: </p>
    <div id="eventbrite-widget-container-1312149858549-ap4"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '1312149858549',
        iframeContainerId: 'eventbrite-widget-container-1312149858549-ap4',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
</div> 

<div class="full-width-bg tea-leaf"> 
  </br>

    <h1 align="center">{{ _('arbeitspaket_5') }}</h1>
</br>
    <p>{{_('webinar')}}<a href="https://www.openlca.org/features/">Teams Calendar</a></p>
    <p>{{_('eventbrite')}}</p>
    <div id="eventbrite-widget-container-1312149858549-ap5"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '1312149858549',
        iframeContainerId: 'eventbrite-widget-container-1312149858549-ap5',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
</div>
    
    {% endblock %}
  

    

