{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1 align="center">Arbeitspaket 1</h1>
    <p>Short description of LCA Demonstrator: <a href="https://www.openlca.org/features/">Open LCA Demonstrator</a></p>
    
    <form method="POST">
      <div class="form-group">
        <label for="email">Company Email Address</label>
        <input
          type="email"
          class="form-control"
          id="companyEmail"
          name="email"
          placeholder="Enter company email"
        />
      </div>
      <div class="form-group">
        <label for="firstName">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="companyName"
          name="companyName"
          placeholder="Enter company name"
        />
      </div>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">als Akteur eintragen</button>
      </div>
    </form>
  </br> 

    <h1 align="center">Arbeitspaket 2</h1> 
    <p>Short description of second LCA Demonstrator: <a href="https://www.openlca.org/features/">Open LCA Demonstrator 2</a></p>
    
    <form method="POST">
      <div class="form-group">
        <label for="email">Company Email Address</label>
        <input
          type="email"
          class="form-control"
          id="companyEmail"
          name="email"
          placeholder="Enter company email 2"
        />
      </div>
      <div class="form-group">
        <label for="firstName">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="companyName"
          name="companyName"
          placeholder="Enter company name 2"
        />
      </div>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">als Akteur eintragen</button>
      </div>
    </form>

  </br> 


    <h1 align="center">Arbeitspaket 3</h1>
      <a>LCA Demonstrator hier probieren: <a href="{{url_for('views.demo')}}">UCB LCA Demonstrator</a> 
</br>

<div class="container mt-4">
  <h2>Demonstratoren</h2>
  <div class="row justify-content-between">
      {% for demo in demonstrator %} 
      <div class="col-md-6 mb-4 d-flex align-items-stretch">
          <div class="card text-center" style="width: 100%; min-width: 180px; height: 260px;">
              <img src="{{ url_for('static', filename=demo.image) }}" class="card-img-top mx-auto d-block" alt="{{ demo.name }}" style="height: 100px; max-width: 95%; object-fit:contain; margin-top: 20px;">
              <div class="card-body">
                  <h5 class="card-title">{{ demo.name }}</h5>
                  <p>{{ demo.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div> <!-- closes row -->
      </div> <!-- closes container -->
    
    <div class="w-100"></div> <!-- ensures new line starts -->

    </br> 

    <h1 align="center">Arbeitspaket 4</h1>
    <p>Webinare/Seminare Erinnerung mit Outlook: <a href="https://www.openlca.org/features/">Teams Calendar</a></p>
    <p>View Event on Eventbrite: <a href="https://www.openlca.org/features/">Eventbrite Anmeldung</a></p>
  </br>

    <h1 align="center">Arbeitspaket 5</h1>
    <p>Another Webinare/Seminare Erinnerung mit Outlook: <a href="https://www.openlca.org/features/">Teams Calendar</a></p>
    <p>Another View Event on Eventbrite: <a href="https://www.openlca.org/features/">Different Eventbrite Anmeldung</a></p>
    
    {% endblock %}
  

    

