{% extends "base.html" %}
{% block title %}Impressum{% endblock %}

{% block content %}
<div class="full-width-bg tea-leaf">
  <div class="container mt-4">
    <h1>{{ _('impressum') }}</h1>

    <h2>{{ _('angabe') }}</h2>
    <address>
      <strong>Hochschule Trier – Umwelt-Campus Birkenfeld</strong><br>
      Projekt PAE eGreen<br>
      Campusallee<br>
      55768 Hoppstädten-Weiersbach<br>
      Deutschland
    </address>

    <h3>{{ _('vertreten') }}</h3>
    <p>
      Prof. Dr. Vettesteinkamp<br>
      Rida Ahmed
    </p>

    <h3>{{ _('kontakt') }}</h3>
    <p>
      E-Mail: <a href="mailto:info@hochschule-trier.de">info@hochschule-trier.de</a><br>
      Telefon: +49 (0)6782 17-0
    </p>

    <h3>{{ _('verant') }}</h3>
    <p>
      Prof. Dr. Vettesteinkamp<br>
      Rida Ahmed<br>
      Hochschule Trier – Umwelt-Campus Birkenfeld<br>
      Campusallee, 55768 Hoppstädten-Weiersbach
    </p>

    <hr class="my-4">

    <p>
      <a href="https://www.hochschule-trier.de/impressum" target="_blank" rel="noopener noreferrer">
        {{ _('off') }}
      </a><br>
      <a href="https://www.hochschule-trier.de/datenschutz" target="_blank" rel="noopener noreferrer">
        {{ _('dte') }}
      </a>
    </p>
  </div>
</div>
{% endblock %}
